body{
    padding-left: 500px;
    padding-top: 130px;
    background-color:rgb(179, 147, 151)
}
.a
{
    width: 23.2%;
    height:80px;
    background-color: black;
    color: aliceblue;
}